[submodule "documentation/final_report"]
	path = documentation/final_report
	url = https://git.overleaf.com/4702060cybywf
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/boostorg/boost.git
[submodule "third_party/pycuda"]
	path = third_party/pycuda
	url = http://git.tiker.net/trees/pycuda.git
